<br>
<br>
<br>
<div class="row">
	<div class="col-xs-6 col-sm-3">
		<ul class="nav nav-pills nav-stacked" >
			<li class="<%= 'active' if params[:controller] == 'categories' %>"> <%= link_to 'Categorias', categories_path %></li> 
			<li class="<%= 'active' if params[:controller] == 'countries' %>"> <%= link_to 'Paises', countries_path %></li>      
			<li class="<%= 'active' if params[:controller] == 'states' %>"> <%= link_to 'Estados', states_path %></li>    
			<li class="<%= 'active' if params[:controller] == 'cities' %>"> <%= link_to 'Ciudades', cities_path %></li> 
		</ul>
	</div>

	<!-- Small button group -->
	<!-- Single button -->
